MONGO_URI=MONGO_URI=mongodb+srv://cpcj_user:15381676@camp-registration.mwain9f.mongodb.net/
JWT_SECRET=change-this-to-a-long-random-string
PORT=5000
UPLOAD_DIR=uploads
CORS_ORIGIN=http://localhost:5173
SEED_ADMIN_EMAIL=admin@camp.com
SEED_ADMIN_PASSWORD=admin123
